.contactCard {
  border: 1px solid black;
  border-radius: 12px;
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: center;
  /* width: 500px; */
}

.contactContent {
  align-items: center;
}
.contactInfo {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 0;
}
.contactInfo:not(:last-child) {
  margin-bottom: 8px;
}

.contactIcon {
  width: 24px;
}
